# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Avoid accidental upload of the Sketch and Figma design files
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

design
style-guide.md
README-template.md
src/assets/fonts/League_Spartan/static
src/dev